cat <<EOF > .gitignore
*.aux
*.log
*.bib
*.out
*.toc
*.synctex.gz
*.root
*.csv
*.dat
cluster
EOF

git add .gitignore
git commit -m "Ignorar archivos auxiliares de LaTeX permanentemente"
git push origin main
